/locale-check
/debian/tmp
/debian/files
# /debian/changelog
/debian/debhelper-build-stamp
/debian/.debhelper
/debian/*.build
/debian/*.changes
/debian/*.log
/debian/*.substvars

/debian/leios.*

/deb-build
/public

leios.theme.plasmoids.digitalclock_*.dsc
leios.theme.plasmoids.digitalclock_*.tar.xz
leios.theme.plasmoids.digitalclock_*.tar.gz
