Source: leios.theme.plasmoids.digitalclock
Section: kde
Priority: optional
Maintainer: Linus Fischer <leicraft@leicraftmc.de>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://git.leicraftmc.de/LeiOS/Theme-Packages/Plasmoids/DigitalClock
Rules-Requires-Root: no

Package: leios.theme.plasmoids.digitalclock
Architecture: all
Depends: plasma-workspace (>= 4:6.0),
         ${misc:Depends}
Description: LeiOS Digital Clock Plasma plasmoid
 A fork of the KDE Plasma Digital Clock plasmoid for the LeiOS theme,
 featuring a layout fix for automatic date display mode.
